{% extends 'base.html.twig' %}

{% block title %}
  Mot de passe oublié
{% endblock %}

{% block content %}
  <div class="title">
    <h3 class="text-center mt-5">
      Mot de passe oublié
    </h3>
  </div>
  <div class="mesdiv">
    <div class="block-small">
      {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
          {{ message }}
        </div>
      {% endfor %}
      {{ form(form) }}
    </div>
  </div>
{% endblock %}
