.navbar-item-custom, .navbar-item-custom a{
    color: #fff
}

body{
    position:relative;
    margin-bottom: 5px;
    color: black;
    background-color: #e1f0eb;
}

.produit-item{
    margin-top: 30px;
}

.produit-item h5{

    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
    color: blue;
}
.sousTitre{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    
}
.prix{
    font-size: 15px;
    font-weight: bold;
}
.prix-unique{
    font-size: 18px;
    font-weight: bold;
}
.titre3{

    text-transform: uppercase;
}
.cart-icon{
    height: 20px;
    padding-left: 20px;
}
.block-small{
    max-width: 600px;
    margin: 0 auto;
}
.form-check{
    background-color: #e1f0eb;
    padding: 20px 65px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 41px;
}

.acount-item{
    background-color: #f1f2f6;
    padding: 100px;
}
.acount-item a{
    text-transform: uppercase;
    font-size: 14px;
    color: #4b6584;
    font-weight: bold;
}


.compte{
    margin-top:100px;
    text-align: center;
    background-color: #e1f0eb;
}
.mesdiv{
    margin-top:50px;
    text-align: center;
    background-color:  #e1f0eb;
    border-radius: 10px
}
.mesdiv p{
    text-align: justify;
}

.mesdiv-produit{
    background-color: #e1f0eb;
    border-radius: 10px;
}
.title-home{
    margin-top: 50px;
    margin-bottom: 30px;
}

.card{
    opacity:1;
    transition: 2s ;
    padding-inline-start: 5px;
    margin-bottom: 10px;
}
.card:hover{
    color: #f73431;
}
.card img:hover{
  opacity: 1;
  color: #27AE60;
}
.title{
    margin-top: 150px;
   
}
.row{
    text-align: justify;
    
}
.command{
    text-align:justify;
}
.card-body{
    text-align:center;
}
.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;
}
.social{
    float: left;
    margin-left: 40px;
}






