{% extends 'base.html.twig' %}

{% block carousel %}

{% endblock %}

{% block content %}
<div class ="title-home">
   <h3 class ="text-center">
    <strong>NOS MEILLEURS VENTES</strong>
  </h3>
</div>
 <div class ="mesdiv">
    <div class="row">
    {% for produit in produits %}
      <div class="col-md-3">
        {% include 'produit/single_produit.html.twig' %}
      </div>
    {% endfor %}
  </div>
  <!-- /.row -->
  <div>
</div>
   
{% endblock %}
